{% extends 'base.html' %}

{% block head %}
<title>Login Page</title>
<style>
.form {
  margin: 0 auto;
  width: 400px;
}

.input {
  width: 40%;
  margin-bottom: 2%;
}

#login {
  text-align: center;
}

</style>
{% endblock %}

{% block body %}
<div class="form" id="login">
  <h1 class="title is-1">Login</h1>
  <br>
  <form action="/login" method="POST">
    <label for="username" class="label">Username </label>
    <input class="input" type="text" name="username" id="username">

    <label class="label" for="password">Password </label>
    <input class="input" type="password" name="password" id="password">
    <br>
    <br>
    <input class="button" type="submit" value="Login">
    <br>
    <div id="register">
      <a href="/register">Don't have an account yet?</a>
    </div>
  </form>
</div>
{% endblock %}

