{% extends 'base.html' %}

{% block head %}
    <title>Registration Page</title>

    <style>
        .form {
            text-align: center;
        }

        .input {
            width: 400px;
            margin-bottom: 2%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="form">
        <h1 class="title is-1">Register</h1>
        <br> 
        <form action="/register" method="post">
            <label for="name" class="label">Name </label>
            <input type="text" name="name" id="name" class="input">

            <label for="surname" class="label">Surname </label>
            <input type="text" name="surname" id="surname" class="input">

            <label for="username" class="label">Username </label>
            <input type="text" name="username" id="username" class="input">

            <label for="password" class="label">Password </label>
            <input type="password" name="password" id="password" class="input">

            <br>
            <br>
            <input type="submit" value="Register" class="button">
        </form>
    </div>
{% endblock %}
